html {
	color:white;
	padding: auto;
}

h1 {
	color:purple;
}

hr {
	height: 1px;
	border:none;
	background-color: purple;
}

ol{
	height: 85%;
	overflow-y: scroll;
}

li {
	background-color: rgba(0,0,0,0.6);
}

#form {
	text-align: center;
	margin: auto;
	margin-top: 25%;
	width: 50%;
}

#bar, #but {
	color: purple;
}

#bar {
	width: 80%;
}

#but {
	width: 19%;
}