<!DOCTYPE html >
<html >
<head>
<title>Moteur de recherche</title>
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/background/background.css">
<script src="static/background/background.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


</head>

<body>
<canvas id="nokey"></canvas>

<div id="form">
	<h1>Dhya & Matthew's Search Engine</h1>
  <form action="/search" method="post">
    <input id="bar"  type="text" name="query" value="">
    <input id="but" type="submit" value="Search">
  </form>
</div>
</div>
</body>
</html